<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head %>
  <body>
    <% include ../partials/header %>
    <main class="p-8">
      <h1 class="text-4xl font-bold">Welcome to Panslonuvo</h1>
      <p>Your animated Minecraft country site!</p>
      <!-- we’ll hook anime.js here -->
    </main>
    <% include ../partials/footer %>
    <% include ../partials/scripts %>
  </body>
</html>